<footer class="page-footer blue pt-4 mt-4">

  <!--Footer Links-->
  <div class="container-fluid text-center text-md-left">
    <div class="row">

      <!--First column-->
      <div class="col-md-6">
        <h5 class="title">Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-6">
        <h5 class="title">Ссылки</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Главная</a>
          </li>
          <li>
            <a href="#!">Оплата</a>
          </li>
          <li>
            <a href="#!">Контакты</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright text-center py-3">
    <div class="container-fluid">
      © 2018 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
