.number-widget {
  display: block;
  color: #fff;
  background: #c4c4c4;
  font-size: 20px;
  margin: 0 5px 0 0;
  width: 40px;
  height: 40px;
  padding: 0 7px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.number-widget:hover, .number-widget.active {
  background: #29b589 !important;
  color: #fff !important;
}

.fa-exclamation-triangle {
  font-size: 50px;
  color: red;
}

.fa-check-circle {
  font-size: 50px;
  color: #29b589;
}

.fa-question-circle {
  font-size: 50px;
  color: #4285f4;
}
