<form #checkOsagoPrice="ngForm">
  <div *ngIf="curStep === 'initial'">
    <div class="row">
      <div class="col-8">
        <p class="text-left">
          Безаварийный страховой стаж (полных лет):
        </p>
        <div class="d-flex">
          <span class="number-widget" *ngFor="let dOption of drivingExperienceOptions"
                [ngClass]="{active: drivingExperience === dOption.value + 3}"
                (click)="onDrivingExperienceSelect(dOption.value)">{{dOption.text}}</span>
        </div>
      </div>
      <div class="col-4">
        <b><i class="fa fa-exclamation-circle" style="color: red"></i> ЕСЛИ У ВАС БЫЛО ДТП</b>
        <p>
          Конечный результат может отличаться в зависимости от наличия ДТП во всей страховой истории.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-8">
        <p class="text-left">
          Текущий класс водителя (КБМ):
        </p>
        <div class="d-flex">
          <span class="number-widget" *ngFor="let dClass of driverClassesOptions"
                [ngClass]="{active: driverClass === dClass.value}"
                [mdbTooltip]="dClass.tooltip" placement="top"
                (click)="onDriverClassSelect(dClass.value)">{{dClass.text}}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="curStep === 'warning'">
    <div class="row">
      <div class="col-8 text-left d-flex align-items-center">
        <div class="mr-5">
          <i class="fa fa-exclamation-triangle"></i>
        </div>
        <div>
          <b>Внимание!</b>
          <div>Вы переплачиваете {{overpay}}% за каждый полис ОСАГО!</div>
        </div>
      </div>
      <div class="col-4">
        <button type="submit" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Восстановить КБМ с гарантией возврата</button>
      </div>
    </div>
  </div>
  <div *ngIf="curStep === 'success'">
    <div class="row">
      <div class="col-8 text-left d-flex align-items-center">
        <div class="mr-5">
          <i class="fa fa-check-circle"></i>
        </div>
        <div>
          <b>Поздравляем!</b>
          <div>Ваш КБМ верный.</div>
        </div>
      </div>
      <div class="col-4">
        <button type="submit" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Оформить полис ОСАГО</button>
      </div>
    </div>
  </div>
  <div *ngIf="curStep === 'buyOsago'">
    <div class="row">
      <div class="col-8 text-left d-flex align-items-center">
        <div class="mr-5">
          <i class="fa fa-question-circle"></i>
        </div>
        <div>
          <b>Удивительно!</b>
          <div>Скидка на ОСАГО больше, чем Вам полагается. Если не оформить полис с этим КБМ, скидка может пропасть.</div>
        </div>
      </div>
      <div class="col-4">
        <button type="submit" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Оформить полис ОСАГО</button>
      </div>
    </div>
  </div>
</form>
