ul.navbar-nav li {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

@media (min-width: 1200px) {
  .navbar-expand-lg {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .navbar-expand-lg {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .navbar-expand-lg {
    max-width: 540px;
  }
}

/*

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
*/
