<!--
<nav class="navbar navbar-fixed-top navbar-color-on-scroll" style="background-color: rgba(16,75,169,0.9);">
  <div class="container">
    &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tt-navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand margin-topper" href="#top" du-smooth-scroll>
        Техосмотр <span class="hidden-sm hidden-md hidden-lg"><br></span><b id="clientCity"></b>
        &lt;!&ndash;<img src="assets/img/logo.png" alt="Appy Logo">&ndash;&gt;
      </a>
    </div>&lt;!&ndash; /.navbar-header &ndash;&gt;
    <div class="collapse navbar-collapse" id="tt-navigation">

      <ul class="nav navbar-nav navbar-center center-children">
        <li class="active"><a href="#home" class="item">Главная</a></li>
        <li><a href="#createCard" class="item">Пройти техосмотр</a></li>
        <li><a href="http://eaisto.info/" target="_blank" class="item">Проверка в ГИБДД</a></li>
        <li><a href="#payment" class="item">Оплата</a></li>
        <li><a href="#faq" class="item">Вопросы</a></li>
        <li><a href="#askQuestion" class="item">Контакты</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right center-children">
        <li layout="column" layout-align="center center">
          <div class="text-center" style="font-size: 18px" flex>8 (800) 505-15-70</div>
          <div flex>
            <a href="#askQuestion" du-smooth-scroll rel="tooltip" data-placement="bottom"
               class="btn btn-sm btn-white" style="font-size: 13px">
              Помощь менеджера
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->

<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark primary-color scrolling-navbar ie-nav"
            [containerInside]="true">
  <mdb-navbar-brand>
    <a class="logo navbar-brand text-white" (click)="scrollTo('home')">
      <div class="d-flex" style="max-height: 70px;">
        <img src="assets/images/logo.png" style="width: 70px;">
        <div class="d-flex flex-column">
          <strong>КБМ</strong>
          <small>Сервис восстановления</small>
        </div>
      </div>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
<!--      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link"> <span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="scrollTo('checkKbm')">Проверить КБМ</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="scrollTo('calculateOsago')">Узнать верный КБМ</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="scrollTo('restoreKbm')">Восстановить КБМ</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link p-0 font-weight-600">
          <div>+7(800) 324-12-20</div>
          <a (click)="scrollTo('contacts')" class="btn-sm m-0 font-weight-600" mdbBtn mdbWavesEffect color="info">Обратный
            звонок</a>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
