.pb-100 {
  padding-bottom: 100px;
}
section.padding-bottom-100 {
  padding-top: 112px;
  padding-bottom: 112px;
}

.title {
  font-weight: 500;
}

section.padding-bottom-100 .title {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}
.pt-6 {
  padding-top: 6rem;
}

.text-tooltip{
  border-bottom: 1px dashed;
}

.light-grey-bg {
  background-color: #f1f1f1;
}

.bt-grey {
  border-top: 1px solid #efefef;
}

.fa {
  color: #4285f4;
}

ngb-progressbar {
  margin-top: 10rem;
}

ngb-progressbar .progress div {
  font-size: 15px;
}

@media (min-width: 1024px) {
  .main {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
}

.section-divider {
  display: inline-block;
  width: 20px;
  height: 3px;
  margin-bottom: 20px;
  background-color: #4285f4;
}

.link {
  cursor: pointer;
}

.fw-400 {
  font-weight: 400;
}

#home {
  .description {
    h4 {
      font-weight: 500;
    }

    i.fa-check {
      color: black;
      font-size: 30px;
    }
  }

  .bonus-image {
    height: 400px;
    margin-top: 50px;
  }
}

.modal-body {
  height: 500px;
}

.bg-grey-blue {
  background-color: #91adb9 !important;
}
#checkKbm {
  .reasons i {
    font-size: 40px;
    margin-top: 5px;
  }

  .kbmTable {
    height: 100%;
  }
}


