<app-navbar></app-navbar>

<!-- Main -->
<main>
  <div style="height:1300px;">
    <!-- header -->
    <div id="home" class="header tt-main-header pb-100" style="padding-top: 200px">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <h1 class="title wow fadeInUp">Восстановление КБМ и снижение стоимости ОСАГО в 2 раза</h1>
            <div class="description wow fadeInUp" data-wow-delay=".2s" style="margin-top: 150px !important;">
              <h4 class="mt-0 mb-3"><i class="fa fa-check"></i> все <span class="text-tooltip" [mdbTooltip]="tooltips.online"
                                                placement="bottom">онлайн</span></h4>
              <h4 class="mt-0 mb-3"><i class="fa fa-check"></i> за <span class="text-tooltip" [mdbTooltip]="tooltips.hours" placement="bottom">12 часов*</span>
              </h4>
              <h4 class="mt-0 mb-3"><i class="fa fa-check"></i> мгновенный <span class="text-tooltip" [mdbTooltip]="tooltips.moneyback"
                                                       placement="bottom">возврат средств</span></h4>
            </div>
            <br/>
            <div layouttooltip="row" layout-xs="column">
              <a href="#restoreKbm" du-smooth-scroll
                 class="col-xs-12 btn btn-white btn-round btn-raised btn-lg wow fadeInUp"
                 mdbBtn size="lg" color="primary" class="waves-light" mdbWavesEffect
                 data-wow-delay=".4s">
                <i class="text-white fa fa-edit"></i> Восстановить КБМ
              </a>
            </div>
          </div>
          <div class="d-none d-md-block col-md-6 text-right">
            <img class="bonus-image wow fadeInUp" data-wow-delay=".3s" src="assets/images/bonus.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- end header -->

    <!-- Main Content Start -->
    <div class="main main-raised">
      <section id="checkKbm" class="extra-fearures-wrapper primary-bg padding-bottom-100 light-grey-bg">
        <div class="container-fluid">
          <div class="row margin-bottom-40 text-center">
            <div class="col-12">
              <h2 class="title">Причины сниженного КБМ</h2>
              <div class="section-divider"></div>
            </div>
          </div>
          <div class="reasons">
            <div class="row mb-4">
              <div class="col-12 col-md-4 d-flex  mb-4 mb-md-0">
                <div class="mr-4">
                  <i class="fa fa-exchange"></i>
                </div>
                <div>
                  <h4>Замена водительского удостоверения</h4>
                  <span>Самая частая причина потери КБМ это замена водительского удостоверения</span>
                </div>
              </div>
              <div class="col-12 col-md-4 d-flex  mb-4 mb-md-0">
                <div class="mr-4">
                  <i class="fa fa-percent"></i>
                </div>
                <div>
                  <h4>Агент не использовал скидку</h4>
                  <span>Агенту выгодно продать ОСАГО дороже, чтобы получить большую комиссию</span>
                </div>
              </div>
              <div class="col-12 col-md-4 d-flex  mb-4 mb-md-0">
                <div class="mr-4">
                  <i class="fa fa-copy"></i>
                </div>
                <div>
                  <h4>Вы вписаны в несколько полисов</h4>
                  <span>Вас вписали в полис друзья и не уточнили какой ваш КБМ.</span>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-12 col-md-4 d-flex  mb-4 mb-md-0">
                <div class="mr-4">
                  <i class="fa fa-exclamation-triangle"></i>
                </div>
                <div>
                  <h4>Ошибки в предыдущем полисе</h4>
                  <span>Если данные были переданы в РСА с ошибкой, то КБМ можно легко потерять</span>
                </div>
              </div>
              <div class="col-12 col-md-4 d-flex  mb-4 mb-md-0">
                <div class="mr-4">
                  <i class="fa fa-building"></i>
                </div>
                <div>
                  <h4>Страховая разорилась</h4>
                  <span>Если предыдущая Ваша страховая банкрот, они не подадут данные в РСА и скидка теряется.</span>
                </div>
              </div>
              <div class="col-12 col-md-4 d-flex  mb-4 mb-md-0">
                <div class="mr-4">
                  <i class="fa fa-calendar"></i>
                </div>
                <div>
                  <h4>Пропуск в страховании более года</h4>
                  <span>Если сделать перерыв и не оформлять ОСАГО, то скидка слетит. Полис «без ограничений» тоже является перерывом</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center wow fadeInUp" data-wow-delay=".4s">
            <div class="flex-column">
              <div>
                <button type="button" (click)="checkKbmModal.show()"
                        mdbBtn size="lg" color="primary" class="waves-light" mdbWavesEffect>
                  <i class="text-white fa fa-search"></i> Проверить действительный КБМ
                </button>
              </div>
              <div class="mt-2 text-center">
                <button type="button" (click)="kbmTableMoal.show()"
                        mdbBtn size="lg" color="primary" class="waves-light bg-grey-blue" mdbWavesEffect>
                  <i class="text-white fa fa-search"></i> Таблица КБМ
                </button>
              </div>
            </div>
          </div>

          <div mdbModal #checkKbmModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
               aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fluid" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="checkKbmModal.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100 text-center">Узнайте свой действительный КБМ</h4>
                </div>
                <div class="modal-body">
                  <iframe style="width: 100%; height: 970px; overflow: auto;"
                          src="https://dkbm-web.autoins.ru/dkbm-web-1.0/kbm.htm?wmode=opaque" name="kbm" width="100%">
                    Загрузка. Пожалуйста, подождите.
                  </iframe>
                </div>
              </div>
            </div>
          </div>

          <div mdbModal #kbmTableMoal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
               aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fluid" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="kbmTableMoal.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100 text-center">Таблица КБМ</h4>
                </div>
                <div class="modal-body text-center">
                  <img src="assets/images/table.png" alt="" class="kbmTable">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Presentation Wrapper -->
      <section id="actions" class="presentation-wrapper padding-bottom-100 bt-grey">
        <div class="container">
          <div class="row margin-bottom-40 text-center">
            <div class="col-12">
              <h2 class="title">Порядок действий</h2>
              <div class="section-divider"></div>
            </div>
          </div>
          <div class="advantages-list row text-center wow fadeInUp" data-wow-delay=".2s">
            <div class="advantage-item col-md-3 col-sm-6 col-xs-12">
              <div class="desc">
                <h4>1 шаг</h4>
              </div>
              <div class="icon">
                <i class="fa fa-search"></i>
              </div>
              <div class="desc">
                <h3>Проверка</h3>
                <p>действительного КБМ</p>
              </div>
            </div><!-- /. -->

            <div class="advantage-item col-md-3 col-sm-6 col-xs-12">
              <div class="desc">
                <h4>2 шаг</h4>
              </div>
              <div class="icon">
                <i class="fa fa-search"></i>
              </div>
              <div class="desc">
                <h3>Проверка</h3>
                <p>потенциального КБМ</p>
              </div>
            </div><!-- /. -->

            <div class="advantage-item col-md-3 col-sm-6 col-xs-12">
              <div class="desc">
                <h4>3 шаг</h4>
              </div>
              <div class="icon">
                <i class="fa fa-window-restore"></i>
              </div>
              <div class="desc">
                <h3>Восстановление</h3>
                <p>КБМ и оплата</p>
              </div>
            </div><!-- /. -->

            <div class="advantage-item col-md-3 col-sm-6 col-xs-12">
              <div class="desc">
                <h4>4 шаг</h4>
              </div>
              <div class="icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="desc">
                <h3>Получение</h3>
                <p>результатов на почту</p>
              </div>
            </div><!-- /. -->
          </div>
          <div class="wow fadeInUp"  data-wow-delay=".4s" style="margin-top: 40px">
            <p>
              <ngb-progressbar type="primary" [value]="progressStatus" height="30px" [striped]="false">4 шага и КБМ
                восстановлен!
              </ngb-progressbar>
            </p>
            <p class="text-center">*Если КБМ не снизится или снизится на 0.5 средства вернутся по указанным
              реквизитам.</p>
          </div>

        </div><!-- /.container -->
      </section>
      <!-- End Presentation Wrapper -->

      <section  id="calculateOsago" class="extra-fearures-wrapper primary-bg padding-bottom-100">
        <div class="container">
          <div class="row margin-bottom-20 text-center wow fadeInUp" data-wow-delay=".2s">
            <div class="card w-100">
              <div class="card-header primary-color text-white">Верна ли цена вашего ОСАГО? Узнайте за 3 клика</div>
              <div class="card-body">
                <app-check-osago-price></app-check-osago-price>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="restoreKbm" class="extra-fearures-wrapper primary-color padding-bottom-100">
        <div class="container">
          <div class="row margin-bottom-20 text-center wow fadeInUp" data-wow-delay=".2s">
            <div class="card w-100">
              <div class="card-header text-black">Восстановите КБМ за 3 минуты</div>
              <div class="card-body">
                <app-restore-kbm></app-restore-kbm>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="padding-bottom-100 light-grey-bg">
        <div class="container">

          <div class="row margin-bottom-40 text-center">
            <div class="col-12 wow fadeInUp" data-wow-delay=".2s">
              <h2 class="title">После восстановления, Вы сможете:</h2>
              <div class="section-divider"></div>
            </div>
          </div>

          <div class="row text-center wow justify-content-center">
            <div class="col-12 col-md-8 d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay=".4s">
              <div>
                <div>
                  <h4><b>1.</b> Убедиться в исправлении КБМ на <a
                    href="https://dkbm-web.autoins.ru/dkbm-web-1.0/kbm.htm" target="_blank">официальном сайте РСА</a>
                    или по нашей <a href="javascript:void(0)" (click)="checkKbmModal.show()">форме</a></h4>
                </div>
                <div class="mt-4">
                  <h4><b>2.</b> Оформить полис ОСАГО дешевле на 5-50%, чем вам предлагают изначально</h4>
                </div>
                <div class="mt-4">
                  <h4><b>3.</b> Вернуть переплату за полис ОСАГО за все прошлые годы страхования</h4>
                </div>
              </div>
            </div>
            <h4 class="mt-5 fw-400">Комплект необходимых документов для самостоятельного возврата излишне уплаченной
              премии по договорам ОСАГО — в подарок, каждому клиенту.</h4>
          </div>

        </div>
      </section>

      <section id="insurance" class="facts-wrapper padding-bottom-100">
        <div class="container">
          <div class="row margin-bottom-40 text-center">
            <div class="col-12 wow fadeInUp" data-wow-delay=".2s">
              <h2 class="title">Рассчитайте стоимость страхования онлайн</h2>
              <div class="section-divider"></div>
            </div>
          </div>

          <div class="row text-center wow">
            <div class="col-12 col-md-5 d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay=".4s">
              <a href="https://partner.ingos.ru/scripts/ahch0f3?affid=dk_online&amp;b=ae19443d"
                 target="_blank" class="wow fadeInUp" data-wow-delay=".4s"
                 mdbBtn color="primary" class="waves-light" mdbWavesEffect
              >
                <i class="fa fa-edit"></i> Рассчитать ОСАГО
              </a>
              <a href="https://partner.ingos.ru/scripts/ahch0f3?affid=dk_online&amp;b=0c585e97"
                 target="_blank" class="col-12 wow fadeInUp" data-wow-delay=".4s"
                 mdbBtn color="primary" class="waves-light" mdbWavesEffect
              >
                <i class="fa fa-edit"></i> Рассчитать КАСКО
              </a>
            </div>

            <div class="col-12 col-md-6 text-center wow fadeInUp column" data-wow-delay=".4s">

              <img style="border:0" src="assets/images/ingos.jpeg" class="ingoss_img col-xs-12 col-md-12" alt=""/>
              <div>
                <p style="font-weight: bold; text-align: center">
                  "Ингосстрах" - надежный партнер компании Техосмотр
                </p>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- Best solution wrapper -->

      <section id="faq" class="facts-wrapper padding-bottom-100 light-grey-bg">
        <div class="container">
          <div class="row margin-bottom-40 text-center">
            <div class="col-12 wow fadeInUp" data-wow-delay=".2s">
              <h2 class="title">Часто задаваемые вопросы</h2>
              <div class="section-divider"></div>
            </div>
          </div>

          <div class="row text-center wow">
            <ngb-accordion [closeOthers]="true" activeIds="static-1" class="w-100">
              <ngb-panel id="static-1" title="Что такое КБМ и зачем он нужен?">
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                  keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                  lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                  them accusamus
                  labore sustainable VHS.
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-2">
                <ng-template ngbPanelTitle>
                  <span>Как считается КБМ?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                  keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                  lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                  them accusamus
                  labore sustainable VHS.
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-3">
                <ng-template ngbPanelTitle>
                  <span>Почему КБМ бывает занижен?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                  keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                  lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                  them accusamus
                  labore sustainable VHS.
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-4">
                <ng-template ngbPanelTitle>
                  <span>Можно ли вернуть скидку за прошлые года?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                  keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                  lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                  them accusamus
                  labore sustainable VHS.
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-5">
                <ng-template ngbPanelTitle>
                  <span>Сколько времени восстанавливается КБМ?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                  keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                  lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                  them accusamus
                  labore sustainable VHS.
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-6">
                <ng-template ngbPanelTitle>
                  <span>Как мне восстановить КБМ у Вас?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                  keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                  lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                  them accusamus
                  labore sustainable VHS.
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-7">
                <ng-template ngbPanelTitle>
                  <span>Есть ли скидки?</span>
                </ng-template>
                <ng-template ngbPanelContent>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                  moon officia
                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor,
                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                  keffiyeh helvetica,
                  craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                  lomo. Leggings
                  occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                  them accusamus
                  labore sustainable VHS.
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>

        </div>
      </section>

      <section id="contacts" class="facts-wrapper padding-bottom-100">
        <div class="container">

          <div class="row margin-bottom-40 text-center">
            <div class="col-12 wow fadeInUp" data-wow-delay=".2s">
              <h2 class="title">Остались вопросы?</h2>
              <div class="section-divider"></div>
              <p class="description">Мы с удовольствием ответим на ваши вопросы.</p>
            </div>
          </div>

          <div class="row wow fadeInUp" data-wow-delay=".4s">
            <div class="col-12 col-md-4 hidden-xs">
              <div class="card">
                <div class="card-body">
                  <img src="assets/images/manager.jpg" style="width: 100%;">
                </div>
                <div class="card-footer">
                  <h3 class="text-center">Менеджер Юлия</h3>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
              <form name="callbackForm" class="row w-50" #callbackForm="ngForm" novalidate>

                <div class="w-100 text-center" [hidden]="callbackForm.submitted">
                  <div class="md-form">
                    <input mdbInputDirective type="text" id="clientName" name="clientName" class="form-control">
                    <label for="clientName" class="">Имя</label>
                  </div>
                  <div class="md-form">
                    <input mdbInputDirective type="text" id="clientPhone" name="clientPhone" class="form-control">
                    <label for="clientPhone" class="">Телефон</label>
                  </div>
                  <button type="submit" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Отправить</button>
                </div>

                <div class="w-100 text-center" [hidden]="!callbackForm.submitted">
                  <div>Заяка принята</div>
                  <div>В течении минуты с Вами свяжется менеджер.</div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</main>
<!-- /.Main -->


<!--<app-footer></app-footer>-->

