<form [formGroup]="restoreKbm" (ngSubmit)="onSave()">
  <div>Персональные данные</div>
  <div class="row">
    <div class="col-12 col-md-4 form-group">
      <label for="surname">Фамилия</label>
      <input type="text" formControlName="surname" id="surname" class="form-control">
    </div>

    <div class="col-12 col-md-4 form-group">
      <label for="name">Имя</label>
      <input type="text" formControlName="name" id="name" class="form-control">
    </div>

    <div class="col-12 col-md-4 form-group">
      <label for="secondName">Отчество</label>
      <input type="text" formControlName="secondName" id="secondName" class="form-control">
    </div>

    <div class="col-12 col-md-4 form-group">
      <label for="birthDate">Дата рождения</label>
      <input type="text" [textMask]="{mask: masks.birthDate, showMask: true}" formControlName="birthDate" id="birthDate" class="form-control">
    </div>

    <div class="col-12 col-md-4 form-group">
      <label for="phoneNumber">Номер телефона</label>
      <input type="text" [textMask]="{mask: masks.phoneNumber, showMask: true}" formControlName="phoneNumber" id="phoneNumber" class="form-control">
    </div>

    <div class="col-12 col-md-4 form-group">
      <label for="email">Электронная почта</label>
      <input type="email" formControlName="email" id="email" class="form-control">
    </div>
  </div>

  <hr/>
  <div>Водительское удостоверение</div>
  <div class="row">
    <div class="col-12 col-md-4 form-group">
      <label for="birthDate">Серия</label>
      <input type="text" [textMask]="{mask: masks.drivingSerial}" formControlName="drivingSerial" id="drivingSerial" class="form-control">
    </div>
    <div class="col-12 col-md-4 form-group">
      <label for="birthDate">Номер</label>
      <input type="text" [textMask]="{mask: masks.drivingNumber}" formControlName="drivingNumber" id="drivingNumber" class="form-control">
    </div>
  </div>

  <hr/>
  <div>Паспорт гражданина РФ</div>
  <div class="row">
    <div class="col-12 col-md-4 form-group">
      <label for="birthDate">Серия</label>
      <input type="text" [textMask]="{mask: masks.passportSerial}" formControlName="passportSerial" id="passportSerial" class="form-control">
    </div>
    <div class="col-12 col-md-4 form-group">
      <label for="birthDate">Номер</label>
      <input type="text" [textMask]="{mask: masks.passportNumber}" formControlName="passportNumber" id="passportNumber" class="form-control">
    </div>
  </div>

  <div class="text-center">
    <input type="submit" mdbBtn color="primary" sclass="waves-light" mdbWavesEffect value="Отправить заявление">
  </div>
</form>
